@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'burtons';
  src: url('../public/fonts/Burtons.otf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat.ttf');
}

@font-face {
  font-family: 'Montserrat-';
  src: url('../public/fonts/Montserrat-.ttf');
}

body {
  padding: 0;
  margin: 0;
  font-family: Montserrat-, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  @apply font-extrabold;
}

h2 {
  @apply font-bold;
}

h3 {
  @apply font-semibold;
}

* {
  box-sizing: border-box;
}

.flag {
  @apply relative top-0 left-0 h-6 w-10;
}

.en-flag {
  background-position: 85.5% 27.7%;
}

.nl-flag {
  background-position: 27% 66.1%;
}
